<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
        <b>Longest Common Subsequence is: </b><span>{{this.lcsText}}</span>
    </p>
    <p>
        <b>Second Longest Common Subsequence is: </b><span>{{this.slcsText}}</span>
    </p>
    <p>
      <button v-on:click="generateRandomCanvas">Generate Random Canvas</button>
      <button v-on:click="insertToCanvas">Insert to Canvas</button>
    </p>
    <p>
      <select id="selCanvas" v-model="selected">
        <template v-for="canvas in canvasData">                        
            <option v-bind:value="canvas.id" v-bind:key="canvas.id">
                {{ canvas.name }}
            </option>
        </template>
      </select>
    </p>
    <span id="main">
    </span>
  </div>
</template>

<script>
import { loadAllData, LCS } from '../api/apihelper';
import { fabric } from 'fabric';
import $ from 'jquery';

var totalCanvas = 0;
var canvasData = [];
var initialCanvas = '';
var __tempMem;
var lcsText = "";
var slcsText = "";

export default {
  name: 'LcsAnimation',
  props: {
    msg: String
  },
  data() {
    return {
        canvasData,
        selected: 1,
        lcsText,
        slcsText,
        bodyText : []
    }
  },
  mounted() {
    loadAllData().then(data => this.findLCSData(data));
  },
  methods: {
    findLCSData(data) {
        this.bodyText.push(data);
        var tempArray = LCS.getCommentsArray(this.bodyText[0],1,4);
        LCS.findLCS(tempArray);
        this.lcsText = LCS.getFLCS();
        this.slcsText = LCS.getSLCS();
    },

    generateRandomCanvas() {
      var self = this;
      self.canvasData = [];
      var canvasEleDiv = document.getElementById("main");
      canvasEleDiv.innerHTML = '';

      //generate random canvas ((max-min+1)+min)
      var totalCount = Math.floor(Math.random() * (5 - 2 + 1)) + 2;
      totalCanvas = totalCount;

      for (let i = 1; i <= totalCanvas; i++) {
          self.canvasData.push({ "id": i, "name": "Canvas " + i});
          self.addCanvas(i);
      }
    },

    addCanvas(canvasId) {
      var canvas = document.createElement('canvas');
      canvas.id = canvasId;
      canvas.style.border = "1px solid";
      canvas.width = 240;
      canvas.height = 240;

      var canvasElement = document.getElementById("main");
      canvasElement.appendChild(canvas);

      var fabCanvas = new fabric.Canvas(canvas, { width: 240, height: 240 });
      document.getElementById(canvasId).fabric = fabCanvas;
      fabCanvas.getContext('2d');
    },

    insertToCanvas() {
      var self = this;  
      var fabricCanvas = document.getElementById(self.selected).fabric;
      
      //lcs convert as fabric text
      var lcs1Text =  new fabric.Text(this.lcsText , {
        left: 10,
        top: 10,
        fontFamily: 'Roboto',
        fontSize: 14,
        fill: '#0bbd88',
        fontWeight: 600
      });
      var lcs2Text =  new fabric.Text(this.slcsText, {
        left: 10,
        top: 50,
        fontFamily: 'Roboto',
        fontSize: 14,
        fill: '#eb5454',
        fontWeight: 600
      });
      fabricCanvas.add(lcs1Text, lcs2Text);

      //mouse down event (select event)
      fabricCanvas.off('mouse:down').on('mouse:down', function() {
          if (this.getActiveObject()) {
              this.getActiveObject().clone(function(item) {
                  __tempMem = item;
              });
              initialCanvas = this.lowerCanvasEl.id;
          }
      });

      //mouse up event (drop item)
       $(document).off('mouseup').on('mouseup', function(e) {

         if (e.target.localName === 'canvas' && initialCanvas != '') {
            var canvasId = $(e.target).siblings().attr('id');

            if (initialCanvas !== canvasId) {

                  var targetCanvas = document.getElementById(canvasId).fabric;

                  var initCanvas = document.getElementById(initialCanvas).fabric;

                  initCanvas.getActiveObjects().forEach(item => {
                      initCanvas.remove(item);
                  });

                  initCanvas.renderAll();

                  __tempMem.clone(function(obj) {
                        targetCanvas.discardActiveObject();

                        obj.set({
                            left: obj.left + 10,
                            top: obj.top + 10,
                            evented: true,
                        });

                        if (obj.type === 'activeSelection') {
                            obj.canvas = targetCanvas;
                            obj.forEachObject(function(obj) {
                                targetCanvas.add(obj);                                        
                            });
                            obj.setCoords();
                        } else {
                            targetCanvas.add(obj);
                        }

                        __tempMem.top += 10;
                        __tempMem.left += 10;

                        targetCanvas.setActiveObject(obj);

                        targetCanvas.requestRenderAll();

                        targetCanvas.off('mouse:down').on('mouse:down', function() {
                            if (this.getActiveObject()) {
                                this.getActiveObject().clone(function(item) {
                                    __tempMem = item;
                                });
                                initialCanvas = this.lowerCanvasEl.id;
                            }
                        });
                        initCanvas.discardActiveObject();
                  });
            }
         }
         
        initialCanvas = ''; 
       });

      initialCanvas = '';
      __tempMem = null;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
button {
  transition: all .2s ease;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  box-sizing: border-box;
  background-color: rgb(115, 103, 240); 
  padding: 10px 28px;
  margin-right: 10px;
}
button:focus{
  outline: none;
}
select {
  padding: 5px 40px;
}
</style>
