<template>
  <div id="app">
    <LcsAnimation msg="Coding Challange"></LcsAnimation>
  </div>
</template>

<script>
import LcsAnimation from './components/LcsAnimation.vue'

export default {
  name: 'App',
  components: {
    LcsAnimation
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
#app {
  font-family: 'Roboto', sans-serif;
  color: #2c2c2c;
  font-weight: 500;
}
#main > div.canvas-container {
    float: left;
    margin: 10px;
    border: 1px solid #2c2c2c;
}
</style>
